.safety-school {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--bg-gray-color);
}

.safety-school__header {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3rem;
}

.safety-school__heading {
    margin-bottom: 1.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: var(--font-color);
}

.safety-school__sub-heading {
    text-align: center;
}

.safety-school__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
    gap: 3rem;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
}

.safety-school__item {
    padding: 1.5rem;
    border-radius: calc(var(--border-radius) * 6);
    background-color: var(--bg-white-color);
}

.safety-school__img img {
    width: 100%;
    height: 19rem;
    border-radius: calc(var(--border-radius) * 3);
    object-fit: cover;
}

.safety-school__title a {
    overflow: hidden;
    display: -webkit-box;
    margin-bottom: 1.5rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: var(--font-size-title-mobile);
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--font-color);
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
